@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "SF Pro Display Regular";
  src: url("../assets/fonts/sf_Display/SF-Pro-Display-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display Bold";
  src: url("../assets/fonts/sf_Display/SF-Pro-Display-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "SF Pro Display Regular", sans-serif;
}

@layer base {
  body {
    @apply dark:bg-black bg-[#FBFCFF] dark:text-white font-sans w-full;
  }

  p {
    @apply text-[#4F616D] dark:text-white;
  }


}
